<ion-view view-title="home">

  <div class="bar bar-header">
    <h1 class="title">FUEL MANAGER by ADAM MOCARSKI</h1>
  </div>

    <div id="home-top">
      <div class="home-row center">
        <span class="highlight-font">LAP TIME</span>

        <div class="lap-times">
          <span class="minutes-value">
            <input type="number" class="center" ng-model="home.min" ng-change="home.cutInputVal(home.min, 99, 'min')" >
            <div class="label">minutes</div>
          </span>
          <span class="seconds-value">
            <input type="number" class="center" ng-model="home.sec" ng-change="home.cutInputVal(home.sec, 59, 'sec')">
            <div class="label">seconds</div>
          </span>
        </div>
      </div>

      <div class="home-row center">
        <span class="highlight-font">RACE DURATION</span>
        <div class="minutes-value center">
          <input type="number" class="center minutes-value" ng-model="home.duration" ng-change="home.cutInputVal(home.duration, 999, 'duration')">
          <div class="label">minutes</div>
        </div>
      </div>

    </div>

    <div id="home-count-btn" class="center">
      <button class="button" ng-click="home.countFuel(home.min, home.sec, home.duration)">
        COUNT
      </button>
    </div>

    <div id="home-bottom" class="result center">
      <div id="result-text" class="m-b10">YOU NEED FUEL FOR</div>
      <div id="result-value">{{home.result ? home.result:"-"}} <span class="small">+1 laps</span></div>
    </div>

</ion-view>
